.login-container {
  min-height: 100vh;
  background-color: aliceblue;
  overflow: hidden;
  display: flex;
  justify-content: center;
  .login-title{
    margin: 30px 0;
    text-align: center;
    font-size: 20px;
    color: #666;
  }
  .login-form {
    width: 450px;
    margin-top: 10%;
    height: 400px;
    background-color: #fff;
    .ant-form{
      .ant-form-item{
        margin-left: 20%;
      }
      .ant-input-affix-wrapper,
      .ant-input:placeholder-shown{
        border-radius: 4px;
      }
      .ant-btn-primary{
        border-radius: 6px;
        height: 36px;
        padding: 4px 28px;
      }
      .to-register{
        color: #1890ff;
        cursor: pointer;
      }
    }
  }
}